@import url('https://fonts.googleapis.com/css?family=Heebo:400,500,700');

.l-sans-serif {
  font-family: heebo, -apple-system, BlinkMacSystemFont, 'avenir next', avenir, 'helvetica neue', helvetica, ubuntu, roboto, noto, 'segoe ui', arial, sans-serif;
}

.l-bg-navy {
  background-color: #000711;
}

.l-tracked-tightish {
  letter-spacing: -.025em;
}

a {
  color: inherit;
}

.l-category-header-row {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
}

.l-category-header-row h3 {
  flex: 1;
  word-wrap: break-word;
  hyphens: auto;
}

.l-category-header-img {
  flex: 0 0 auto;
  max-width: 5rem;
}
